footer {
  display: flex;
  align-items: center;
  background: radial-gradient(circle, rgba(37, 44, 82, 1) 0%, rgba(50, 3, 12, 1) 100%);
  color: white;
  margin-top: 10vmax;
  padding: 2vmax;
}

#footerLeft {
  display: flex;
  width: 20%;
  align-items: center;
  flex-direction: column;
}

#footerLeft>p {
  text-align: center;
  font-size: 1vmax;
}

#footerLeft>h4 {
  font-size: 1vmax;
}

#footerMid {
  width: 60%;
  text-align: center;
}

#footerMid>h1 {
  font-size: 4vmax;
}

#footerMid>p {
  max-width: 60%;
  margin: 1vmax auto;
}

#footerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

#footerRight>a {
  text-decoration: none;
  font-size: 1vmax;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

#footerRight>a:hover {
  color: yellow;
}

.footerRight>h4 {
  font-size: 1vmax;
}