.productsHeading {
  padding: 10px 10px 0;
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.productsPageContainer {
  margin: 5rem auto 0;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.products {
  display: flex;
  position: relative;
  font-family: Roboto;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
}
.filterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: 5px auto;
  padding: 5px;
  border-right: 1px solid grey;
}
.categoryBox {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
.paginationBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.page-link {
  list-style: none;
  text-decoration: none;
  transition: all 0.5s;
  color: rgb(12, 159, 56);
  cursor: pointer;
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageLinkActive {
  color: white;
  background-color: rgb(35, 176, 189);
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 1rem "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
}

.category-link:hover {
  color: rgb(12, 159, 56);
}

.filterBox > div > fieldset {
  font: 400 0.8vmax "Roboto";
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 920px) {
  .filterBox {
    display: none;
}
.productsContainer {
  width: auto;
  margin-top: 4rem;
  align-self: center;
}
.productsPageContainer {
  flex-direction: column;
}
.products{
  padding: 0;
}

}

@media screen and (max-width: 1300px) {
  .filterBox {
    width: 25%;
}
}
